/*
Theme Name: Klara Tomljanovic
Theme URI: https://www.klaratomljanovic.com
Description: Klara Tomljanovic based on The Official 2208 AMY & PINK Design.
*/
body {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, Corbel, sans-serif;
  background: #fff none fixed no-repeat;
  cursor: default;
  color: #000;
  line-height: 1.8em;
  background-size: auto 100%;
  background-size: cover;
  background-position: 0 0;
}
a,
a * {
  cursor: pointer;
  text-decoration: underline;
  color: #564140;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
}
#blog a {
  text-decoration: underline;
}
#blog a:hover {
  text-decoration: none;
}
body,
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #fff;
}
h3 {
  text-transform: uppercase;
  line-height: 60px;
  position: relative;
  margin: 15px 0 0;
  font-size: 14px;
}
h3::before {
  content: "⟩ ";
  display: block;
  color: #999;
  text-align: center;
  padding: 0 5px;
  float: left;
  margin: 0 0 0 -36px;
}
a:hover h3 {
  text-decoration: underline;
}
h4 {
  margin: 1em 0 0.5em;
  font-size: 1.2em;
  color: #5f5f5f;
}
h5 {
  margin: 1em 0 0;
  border-top: 1px solid rgb(217, 231, 238);
  padding: 1em 0 0;
  color: #5f5f5f;
  font-size: 1em;
  text-transform: uppercase;
}
h6 {
  margin: 0.5em 0;
  color: #5f5f5f;
  font-size: 0.9em;
  text-transform: uppercase;
}
q {
  quotes: none;
  display: block;
  padding: 1em 2em 1em 1em;
  font-style: italic;
  border-left: 0.2em solid rgb(217, 231, 238);
}
ul {
  color: #343a46;
  list-style: square outside none;
  margin: 0 0 13px;
  padding: 0 13px;
}
.controls {
  display: none;
}
.home {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
#bg a,
#bg img,
h1 a,
.menu #menu,
#menu li.cur ul,
#menu ul li.cur ul li.cur ul,
.block,
#float.nxt,
#float.prv,
#feed p {
  display: block;
}
#menu ul ul,
#menu ul li.cur ul ul,
#float {
  display: none;
}
h1 a,
h1 a b,
#menu a,
.block,
h3,
h3 span,
#photos a {
  text-decoration: none;
}
#menu h1 a,
h1 b,
h3 span,
#beijing,
#traveling,
#float,
#photos a,
#pack h2,
#tips h2,
#activities.bej h2 {
  color: #fff;
}
#menu h1 a,
h1 b {
  color: #ff0099;
}
#menu h1 a,
#menu h1 a:focus#shanghai,
#beijing,
#pack h2,
#tips h2 {
  text-align: right;
}
#bg,
#wrap,
.box,
h1,
#menu,
#menu div,
#photos,
#photos img,
#float {
  position: absolute;
  left: 0;
}
#bg {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}
#bg td {
  vertical-align: middle;
  text-align: center;
}
#bg img {
  min-height: 50%;
  min-width: 50%;
  margin: 0 auto;
}
#wrap {
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 70;
}
#menul {
  display: none;
}
@media only screen and (min-device-width: 481px) {
  #menul {
    display: block;
    background: none repeat scroll 0 0 hsl(200, 32%, 82%);
    font-size: 14px;
    font-weight: 200;
    height: auto;
    right: 0;
    left: 0;
    top: 89px;
    bottom: 0;
    line-height: 38px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: right;
    z-index: 93;
    width: 168px;
  }
  #menul li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

#menu a:hover,
#menu a:focus,
#menu li.cur a,
#menu li.cur li a:hover,
#menu li.cur li a:focus,
#menu li.cur li.cur a,
#menu li.cur li.cur li a:hover,
#menu li.cur li.cur li a:focus,
#menu li.cur li.cur li.cur a {
  background: rgb(182, 208, 221);
}
#menul a {
  text-decoration: none;
  display: block;
  padding: 2px 20px 2px 0;
}
#menul a:hover {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
#menu ul ul {
  position: absolute;
  left: 130px;
  top: 0;
  border-left: 1px solid #444;
  height: 48px;
  padding-left: 7px;
  left: 126px;
  width: auto;
}
#langmenu {
  left: 1em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  bottom: 1em;
  width: 130px;
  z-index: 100;
}
#langmenu li {
  float: none;
  clear: both;
  padding: 0;
  margin: 1em 0 0;
}
#langmenu a {
  color: #999;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.9em;
}
#langmenu a:hover {
  color: #666;
  background: transparent;
}
#feed div {
  height: 0;
  overflow: hidden;
  padding: 0;
}
#feed h5,
#feed p {
  padding: 15px 0 25px 0;
  border-top-width: 1px;
  width: 440px;
}
#feed h5 {
  text-transform: uppercase;
  padding: 0 5px;
  cursor: pointer;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  width: 430px;
}
#menu {
  height: 80px;
  left: 0;
  top: 0px;
  z-index: 90;
}
h1 {
  width: 168px;
}
#menu h1 a,
#menu h1 a:focus {
  background: none repeat scroll 0 0 #fff;
  color: #000;
  font-size: 14px;
  font-weight: bolder;
  line-height: 89px;
  display: block;
  padding-right: 20px;
}
#menu h1 a:hover {
  background: #eee;
}
.box.video h4 {
  margin-top: 5em;
}
.box div {
  max-width: 600px;
  padding: 0 30px 30px;
}
.box div.gallery {
  padding: 20px 10px;
}
.sml h2 {
  font-size: 40px;
}
#blog,
#photos,
#pack,
#tips,
#intro.sml,
#activities {
  left: 200px;
  background: transparent;
}
#blog {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
#blog div,
#intro div,
#activities div {
  padding-top: 0;
  padding-bottom: 30px;
}
#blog div p {
  margin: 1em 0;
}
#blog div em {
  color: #99a;
}
#blog div.list-item {
  padding: 40px 0 20px;
}
#photos {
  z-index: 90;
  bottom: 41px;
  right: 40px;
  height: 20px;
  overflow: hidden;
}
#photos a {
  width: 20px;
  float: left;
  margin-left: 1px;
  background: #000;
  font-weight: bold;
}
#photos a:hover,
#photos a.cur {
  background: #fff;
  color: #000;
}
#photos img {
  bottom: -9999px;
}
#float.nxt {
  background-position: -16px 5px;
}
#float.prv {
  background-position: 7px 5px;
}
.wpcf7 textarea,
.wpcf7 input {
  border: 1px solid #dae7ee;
  padding: 2px 5px;
  font: 13px/1.8em "Helvetica Neue", "Helvetica", Corbel, Arial, sans-serif;
}
div.wpcf7-mail-sent-ok {
  background: none repeat scroll 0 0 #ddeeee;
  border: medium none !important;
  margin: 0 !important;
  padding: 10px !important;
}
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  background-color: #dae7ee;
  border-radius: 0.5em;
}
.btn.outline {
  background-color: white;
  color: hsl(198, 20%, 50%);
}
.cc {
  font-size: 0.9em;
  line-height: 1.5em;
}
.cc a,
.cc {
  color: #999;
}
.banner {
  position: absolute;
  top: 89px;
  left: 168px;
  right: auto;
  bottom: 0;
  z-index: 80;
  max-width: 90%;
  padding: 2em;
  box-sizing: border-box;
  background-image: linear-gradient(
    to top left,
    hsl(0, 0%, 100%, 0),
    hsl(310, 33%, 82%)
  );
}
.banner h5 {
  font-weight: 200;
  border: none;
  margin: 0;
  padding: 0;
  color: #000;
}
.banner h6 {
  margin: 0;
  padding: 0;
  color: hsl(312, 26%, 34%);
}
.banner p {
  margin: 0;
  padding: 0;
  color: hsl(312, 60%, 63%);
}
.banner .cta {
  display: inline-block;
  color: #fff;
  background-color: hotpink;
  margin-top: 5px;
  padding: 0.4em 1em;
  border-radius: 1em;
  border: 3px solid hotpink;
}
.banner:hover .cta,
.banner .cta:hover {
  background-color: #000;
}
.flex {
  display: flex;
}
.flex img {
  display: block;
}
iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}
#blog .flag {
  padding: 0 8px 0 0;
  color: #999;
  border: 3px solid #d9e7ee;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}
.flag img {
  vertical-align: bottom;
}
.flag.de img {
  width: 24px;
}
.flag.it img {
  padding: 6px 6px 7px;
  width: 13px;
}
.flag.si img {
  padding: 6px 6px 7px;
  width: 13px;
}
.flag.es img {
  padding: 0;
  width: 24px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .home {
    background-size: auto 160%;
  }
  #wrap,
  #blog,
  .sml {
    position: static;
    height: auto;
    width: auto;
    overflow: auto;
  }
  #menu::after {
    content: image-set("/images/avatar.webp" 2x);
    position: absolute;
    left: 10px;
    top: 10px;
  }
  #menu {
    position: fixed;
    right: 0;
    height: 60px;
    z-index: 95;
    width: 67%;
  }
  #menu h1 {
    width: 100%;
  }
  #menu h1 a {
    text-align: left;
    padding: 10px 0 0 80px;
    line-height: 50px;
    display: block;
    background-image: linear-gradient(
      to left,
      hsl(0, 0%, 100%),
      hsl(200, 32%, 82%)
    );
  }
  #menul {
    display: block;
    position: fixed;
    z-index: 91;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
  }
  #menul.open::after {
    content: "×";
  }
  #menul::after {
    cursor: pointer;
    content: "=";
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 52px;
    font-size: 32px;
    line-height: 60px;
    padding-right: 20px;
    text-align: right;
    color: hsl(202, 12%, 44%);
    background-color: #fff;
  }
  #menul li {
    display: none;
    padding: 4px 0;
    margin: 0;
    background-color: hsl(200, 32%, 82%);
  }
  #menul.open li {
    display: block;
  }
  #menul li:first-child {
    margin-top: 60px;
    padding-top: 60px;
  }
  #menul li:last-child {
    padding-bottom: 60px;
  }
  #wrap #blog {
    padding-top: 60px;
  }
  .box {
    padding-bottom: 0;
  }
  h3 {
    background-color: hsl(200, 32%, 82%);
    margin: 0 -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  h3::before {
    color: #fff;
    margin: 0 0 0 -30px;
  }
  .banner {
    position: static;
    max-width: 100%;
    margin-top: 60px;
  }
  #langmenu {
    display: none;
  }
  .home #langmenu {
    display: block;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 60px;
    background-color: #fff;
  }
  .home #langmenu li {
    display: inline-block;
    margin: 10px;
  }
  .home #langmenu li a {
    padding: 10px;
  }
  .list-item .flex {
    flex-direction: column;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .front-page {
    background-position: top 0px right -150px;
  }
}
