#slb_viewer_wrap .slb_theme_slb_default .slb_loading,
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui,
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_prev
  .slb_template_tag,
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_next
  .slb_template_tag {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#slb_viewer_wrap .slb_theme_slb_default a,
#slb_viewer_wrap .slb_theme_slb_default a:hover {
  border-bottom: none;
  color: #000;
  text-decoration: underline;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_viewer_layout {
  top: 20px;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_container {
  box-shadow: 0 0 64px -40px #fcfcfc;
  border-radius: 5px;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_template_tag_ui {
  transition: opacity 0.5s;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_controls {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 75%;
  text-align: right;
}
[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_controls {
  right: inherit;
  left: 0px;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui {
  width: 25px;
  height: 25px;
  float: right;
  margin-left: 2px;
  opacity: 0.5;
}
[dir="rtl"]
  #slb_viewer_wrap
  .slb_theme_slb_default
  .slb_controls
  .slb_template_tag_ui {
  float: left;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_controls
  .slb_template_tag_ui:hover {
  opacity: 0.8;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_controls
  .slb_slideshow
  .slb_template_tag {
  background: url("../images/ui_slideshow_play.png") 0 0 no-repeat;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_controls
  .slb_close
  .slb_template_tag {
  background: url("../images/ui_close.png") 0 0 no-repeat;
}
#slb_viewer_wrap
  .slb_theme_slb_default.slideshow_active
  .slb_controls
  .slb_slideshow
  .slb_template_tag {
  background: url("../images/ui_slideshow_pause.png") 0 0 no-repeat;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_prev
  .slb_template_tag,
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_next
  .slb_template_tag {
  position: absolute;
  top: 20%;
  height: 71%;
  width: 45%;
  min-width: 25px;
  min-height: 33px;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_content {
  min-height: 58px;
  min-width: 50px;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_prev
  .slb_template_tag,
[dir="rtl"]
  #slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_next
  .slb_template_tag {
  left: 0;
  right: inherit;
  display: flex;
  justify-content: left;
  align-items: center;
  color: transparent;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_next
  .slb_template_tag,
[dir="rtl"]
  #slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_prev
  .slb_template_tag {
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  color: transparent;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_prev
  .slb_template_tag:hover,
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_next
  .slb_template_tag:hover {
  opacity: 1;
  color: transparent;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_prev
  .slb_template_tag:hover::before {
  background-color: white;
  display: block;
  content: "«";
  width: 2em;
  color: black;
  margin: 0 0 0 -1em;
  padding: 0 2em 0 0;
  line-height: 1.5em;
  border-radius: 0 1em 1em 0;
  font-size: 2em;
  height: 1.5em;
}
#slb_viewer_wrap
  .slb_theme_slb_default
  .slb_content
  .slb_next
  .slb_template_tag:hover::after {
  background-color: white;
  display: block;
  content: "»";
  width: 2em;
  color: black;
  margin: 0;
  padding: 0 1em 0 0;
  line-height: 1.5em;
  border-radius: 1em 0 0 1em;
  font-size: 2em;
  height: 1.5em;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_details {
  line-height: 1.4em;
  overflow: hidden;
  position: relative;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_details .slb_data {
  caption-side: bottom;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_details .slb_nav {
  display: none;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_data_title,
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
  font-family: inherit;
  font-size: 1.2em;
  margin-right: 0.2em;
  display: inline-block;
}
[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_data_title,
[dir="rtl"] #slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
  margin-left: 0.2em;
  margin-right: 0px;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
  color: #777;
  font-size: 1em;
  padding-left: 1em;
  display: inline-block;
  float: right;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc {
  display: block;
  margin-top: 0.5em;
}
@media screen and (max-width: 480px) {
  #slb_viewer_wrap .slb_theme_slb_default .slb_container {
    box-shadow: none;
    border-radius: 0;
  }
  #slb_viewer_wrap .slb_theme_slb_default .slb_controls {
    top: 3px;
    right: 3px;
  }
  #slb_viewer_wrap
    .slb_theme_slb_default
    .slb_content
    .slb_prev
    .slb_template_tag,
  #slb_viewer_wrap
    .slb_theme_slb_default
    .slb_content
    .slb_next
    .slb_template_tag {
    top: 17%;
    height: 79%;
  }
}
